*General Page Setup*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI ' , Tahoma, Geneva, Verdana, sans-serif;
}

body {
    background-color: #f0f4f1;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* The Main Card */
.card {
    background-color: white;
    width: 350px;
    padding: 40px;
    border-radius: 20px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
    text-align: center;
    padding: 5px solid #2f5a46;
}

/* Typography */
h1{
    color: #2f5a46;
    font-size: 1.5rem;
    margin-bottom: 5px;
}

.dhikr-label {
    color: #888;
    font-size: 1rem;
    margin-bottom: 30px;
}

.display-area {
    margin: 20px 0;
    font-size: 4rem;
    font-weight: bold;
    color: #333;
}
/* Button Layout */
.controls {
    display: flex;
    gap: 15px;
    justify-content: center;
    margin-top: 20px;
}

.btn {
    padding: 12px 24px;
    border: none;
    border-radius: 50px;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.1s ease;
}

.btn:active {
    transform: scale(0.95);
}

.count-btn {
    background-color: #e0e0e0;
    color: #333;
    flex-grow: 1;
}

.count-btn:hover {
    background-color: #244636;
}

.reset-btn:hover {
    background-color: #d1d1d1;
}


.select-container {
    position: relative;
    display: inline-block;
    margin-bottom: 30px;
    width: 200px;
}

select {
    appearance: none;  
    -webkit-appearance: none; 
    width: 100%;
    padding: 10px 15px;
    border: 2px solid #2F5A46;
    border-radius: 10px;
    background-color: white;
    color: #2F5A46;
    font-size: 1rem;
    font-weight: bold;
    cursor: pointer;
    outline: none;
}

select:hover {
    background-color: #f9fdfa;
}

.custom-arrow {
    position: absolute;
    right: 15px;
    top: 50%;
    transform: translateY(-50%);
    pointer-events: none; 
    color: #2F5A46;
    font-size: 0.8rem;
}